<form id="formulario" (submit)='$event.preventDefault(); addEmpleado(nombre.value, apellidos.value, categoria.value, rol.value);
        nombre.value=""; apellidos.value=""; categoria.value=""; rol.value=""; '>

    <table>
        <th id="titulo">Nuevo empleado</th>
        <tr>
            <td><label for="nombre">Nombre</label></td>
            <td><input type="text" #nombre /></td>
        </tr>
        <tr>
            <td><label for="apellidos">Apellidos</label></td>
            <td><input type="text" #apellidos /></td>
        </tr>
        <tr>
            <td><label for="categoria">Categoría</label></td>
            <td><input type="text" #categoria /></td>
        </tr>
        <tr>
            <td><label for="rol">Rol</label></td>
            <td><input type="text" #rol /></td>
        </tr>
        <button class="btn btn-primary" type="submit">Añadir</button>
    </table>
</form>

<div id="lista_integrantes" *ngIf="!isEmpty()">
    <div id="titulo_lista">Lista de integrantes</div>

    <div id="empleado" class="card text-white bg-info mb-3" style="max-width: 18rem;"
        *ngFor="let empleado of empleados">
        <div class="card-header">{{empleado.nombre_completo()}}</div>
        <div class="card-body">
            <p class="card-text">{{empleado.detalles()}}</p>
        </div>
    </div>
</div>